:root {
    --color-black: #000000;
    --color-white: #F5F5F7;
    --color-gray: #E5E5E5;
    --color-purple: #5A3DB0;
    --color-blue: #2D6CDF;
    --color-light-blue: #4EA1FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-black {
    color: var(--color-black);
}

.back-black {
    background-color: var(--color-black);
}

.color-white {
    color: var(--color-white);
}

.back-white {
    background-color: var(--color-white);
}

.color-gray {
    color: var(--color-gray);
}

.back-gray {
    background-color: var(--color-gray);
}

.color-blue {
    color: var(--color-blue);
}

.back-blue {
    background-color: var(--color-blue);
}

.color-purple {
    color: var(--color-purple);
}

.back-purple {
    background-color: var(--color-purple);
}

.color-light-blue {
    color: var(--color-light-blue);
}

.back-light-blue {
    background-color: var(--color-light-blue);
}

.imageBanner:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: translateX(1000%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.rotating-text {
    animation: rotate 60s linear infinite;
}

.bg-stadium {
    background-image: url('./assets/back/stadiumBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

.login-bg {
    background-image: url('./assets/logo/mainLogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    filter: blur(3px);
}

.cards {
    gap: 10em;
    animation: spin 20s linear infinite;
    padding-right: 10em;
    transition: animation-duration 2s ease;
}

.carousel:hover .cards {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

